/* Main content */

#main-content {
    display: grid;
    grid-template-columns: 600px 350px;
    width: 990px;
    gap: 40px;
}

/* FEED ME */

.main-feed {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.side-content {
    display: grid;
    padding-top: 25px;
    margin-top: 25px;
    grid-template-columns: 75%;
    grid-auto-rows: minmax(10px, 50px);
    align-items: center;
    justify-items: center;

    gap: 20px;
}

.side-content > * {
    margin: 10px;
    padding: 4px;
    border: 1px solid gray;
}

.side-content div {
    display: grid;
    justify-items: center;
}
