/* Main content */

#main-content {
    display: flex;
    width: 990px;
    gap: 40px;
}

/* FEED ME */

.main-feed {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    width: 600px;
}
