/* NAV */
.sidebar {
    display: flex;
    flex-direction: column;

    margin-left: unset;
    width: 255px;
    height: 100vh;
    padding: 0px 10px;
    position: sticky;
    left: 0;
    top: 0;

    /* Sidebar fonts */
    font-size: var(--font-size-bigger);
    font-weight: var(--font-weight-bolder);
}

.navbar {
    display: grid;
    height: 482px;
    align-items: center;
}

.navbar-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    font: inherit;
}

.navbar-icon-container {
    display: grid;
    position: relative;
    /* justify-items: center; */
    place-items: center;
    width: 30px;
    padding-right: 15px;
}

.badge {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--twitter-color-blue);
    position: absolute;
    font-size: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--background-color);
    min-width: 16px;
    min-height: 16px;
    top: -8px;
    right: 12px;
}

.navbar-text-container {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: var(--border-radius);
    transition-duration: var(--transition-hover);
}

.navbar-text {
    padding-right: 10px;
}

.navbar-icon-container i {
    font-size: 25px;
}

.navbar-item:hover .navbar-text-container {
    transition-duration: var(--transition-hover);
    color: var(--twitter-color-blue);
    background-color: var(--hover-color);
}

/* MORE DROPDOWN */

.navbar-more-menu:hover .navbar-text-container {
    transition-duration: var(--transition-hover);
    color: var(--twitter-color-blue);
    background-color: var(--hover-color);
}

.navbar-more-menu {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
}

.navbar-more-menu:focus-within #navbar-more-dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    position: absolute;
    background-color: var(--background-color);
    box-shadow: 0 0 10px lightgray;
    min-width: 200px;
    align-items: center;
    border-radius: 5px;
    bottom: 0px;
    /* justify-items: left; */
    z-index: 1;
}

.dropdown-content a {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    color: rgb(15, 20, 25);
    text-decoration: none;
    padding: 15px;
}

/* TWITTER BUTTON */

.tweet-button {
    font-size: var(--font-size-normal);
    width: 230px;
    height: 49px;
    margin: 15px 0;
    color: white;
    background-color: var(--twitter-color-blue);
    border-radius: var(--border-radius);
}
.tweet-button:hover {
    background-color: var(--twitter-color-hover-blue);
}

#twitter-icon {
    color: var(--twitter-color-blue);
    font-size: 30px;
    padding: 10px;
    margin: 2px 0;
}
#twitter-icon:hover {
    border-radius: var(--border-radius);
    background-color: #e8f5fe;
}

/* NAV PROFILE */

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-normal);
    height: 59px;
    width: 255px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    background-color: inherit;
}
.profile-container-inactive {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-normal);
    height: 59px;
    width: 255px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    background-color: inherit;
}
.profile-container:hover {
    transition: var(--transition-hover);
    background-color: var(--hover-color);
    cursor: pointer;
}
.profile-container:active {
    transition: var(--transition-hover);
    background-color: var(--hover-click);
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: var(--border-radius);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.profile-username-container {
    margin: 0 10px;
}
.profile-name {
    text-align: left;
}
.profile-username {
    text-align: left;
    font-weight: var(--font-weight-normal);
    color: var(--font-color-gray);
}
.profile-dots {
    margin-left: auto;
}
