#root {
    --background-color: white;
    --hover-color: #e8f5fe;
    --hover-click: #d2ecfc;
    --hover-retweet-color: #e0f1e8;
    --hover-like-color: #f5e2e8;
    --twitter-color-blue: #1da1f2;
    --twitter-color-hover-blue: #1a91da;
    --retweet-color-green: #17bf63;
    --like-color-red: #e0245e;
    --border-color: #ebeef0;
    --transition-hover: 0.1s;
    --font-size-smaller: 13px;
    --font-size-normal: 15px;
    --font-size-bigger: 19px;
    --font-color-gray: #597186;
    --font-weight-normal: normal;
    --font-weight-bolder: bolder;
    --stadard-margin: 10px;
    --stadard-padding: 10px;
    --border-radius: 9999px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    justify-content: space-between;
}
